<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@emredurukn">
<meta name="twitter:creator" content="@emredurukn">
<meta property="og:site_name" content="{{ site.title }}">

{% if page.title %}
  <meta name="twitter:title" content="{{ page.title }}">
  <meta property="og:title" content="{{ page.title }}">
  <meta property="og:type" content="article">
{% else %}
  <meta name="twitter:title" content="{{ site.title }}">
  <meta property="og:title" content="{{ site.title }}">
  <meta property="og:type" content="website">
{% endif %}
{% if page.url %}
  <meta name="twitter:url" content="{{ site.url }}{{ page.url }}">
  <meta property="og:url" content="{{ site.url }}{{ page.url }}">
{% endif %}
{% if page.description %}
  <meta name="twitter:description" content="{{ page.description }}">
  <meta property="og:description" content="{{ page.description }}">
{% else %}
  <meta name="twitter:description" content="{{ site.description }}">
  <meta property="og:description" content="{{ site.description }}">
{% endif %}
{% if page.image %}
  <meta name="twitter:image:src" content="{{ site.url }}/assets/images/{{ page.image }}">
  <meta property="og:image" content="{{ site.url }}/assets/images/{{ page.image }}">
{% else %}
  <meta name="twitter:image:src" content="{{ site.url }}/assets/images/apple-touch-icon-precomposed.png">
  <meta property="og:image" content="{{ site.url }}/assets/images/apple-touch-icon-precomposed.png">
{% endif %}
{% if page.tags %}
  {% for tag in page.tags %}
  <meta content="{{ tag }}" property="article:tag">
  {% endfor %}
{% endif %}
